

/*

1) For 12 equal slices, each slice angle will be 30 degrees.

2) We need to rotate each slice according to the angle between vertical axis and start of the slice. So the first slice will be rotated by 0deg and the last by 330deg

3) Additionally we need to skew each slice by minus (90deg - slice angle) In this case, it is -(90deg - 30deg) = skewY(-60deg)

4) Regarding the text:

a) We need to unskew slice contents with  skewY(60deg)

b) In order to center the text in the slice we need to rotate it by half the slice angle, hence: rotate(15deg)

*/














.circle {
	position: relative;
	border: 1px solid black;
	padding: 0;
    margin: 1em auto;
	width: 20em;
    height: 20em;
	border-radius: 50%;
	list-style: none;
    overflow: hidden;
}




li {
	overflow: hidden;
	position: absolute;
	top: 0; right: 0;
	width: 50%; height: 50%;
	transform-origin: 0% 100%;      
}
.text {
	position: absolute;
	left: -100%;
	width: 200%; height: 200%;
	text-align: center;

    transform: skewY(38.57deg) rotate(25.71deg);
    padding-top: 20px;
}

li:first-child {

	transform: rotate(0deg) skewY(-38.57deg);     
}
li:nth-child(2) {

	transform: rotate(51.43deg) skewY(-38.57deg);     
}
li:nth-child(3) {

	transform: rotate(102.86deg) skewY(-38.57deg);    
}
li:nth-child(4) {

	transform: rotate(154.29deg) skewY(-38.57deg);    
}
li:nth-child(5) {

	transform: rotate(205.72deg) skewY(-38.57deg);    
}
li:nth-child(6) {

	transform: rotate(257.15deg) skewY(-38.57deg);    
}

li:nth-child(7) {

	transform: rotate(308.58deg) skewY(-38.57deg);    
}


li:first-child .text {
    background: green; 
}
li:nth-child(2) .text {
	background: tomato; 
}
li:nth-child(3) .text {
	background: aqua; 
}
li:nth-child(4) .text {
	background: yellow;  
}
li:nth-child(5) .text {
	background: orange;  
}
li:nth-child(6) .text {
	background: purple;  
  }
li:nth-child(7) .text {
	background: aqua; 
}

.middle {
	width: 10em;
	height: 10em;
	border-radius: 50%
	background: white;
	position: relative;
}
